body {
    background: grey;
}

.infinity-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.infinity-slider img {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;  
}

.infinity-slider .opacity0 {
    opacity: 0;
}

.btn-infinity-left, .btn-infinity-right {
    width: 48px;
    height: 48px;
    background: url('./img/left.png');
    background-size: contain;
}

.btn-infinity-right {
    background: url('./img/right.png');
    background-size: contain;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}
